{% extends "base.html" %}

{% block pageBase %}

<h1>Esto sería {{typeAction}} de ingresos y gastos</h1>
<p>Un simulacro de contabilidad</p>

<form>
        <label for="fecha">Fecha:</label>
        <input type="date" name = "fecha">
        <br>
        <label for="text">Concepto:</label>
        <input type="text" name = "concepto" placeholder="Ingrese concepto">
        <br>
        <label for="numer">Cantidad:</label>
        <input type="numer" name = "cantidad" placeholder="Ingrese cantidad">
        <br>
        <button onclick="alert('Ya lo guardaste, gracias')">{{typeButton}}</button>
</form>
<a href="/">Back</a>

{% endblock %}
