<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos - Gastos: Listas</title>
</head>

<style>
    table, th, td {
        border:1px solid rgb(83, 209, 9);
    }
</style>
<body>
    <!-- esto es un comentario-->
    <header>
        <h1> Esto sería la lista de ingresos y gastos </h1>
    </header>
    <p> Un simulacro de contabilidad</p>
    
    <section>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>18/12/2022</td>
                    <td>Regalo de reyes</td>
                    <td>-275,50€</td>
                </tr>
                 <tr>
                    <td>18/12/2022</td>
                    <td>Cobro de trabajo</td>
                    <td>1200€</td>
                </tr>
                <tr>
                    <td>18/12/2022</td>
                    <td>Ropa navidad</td>
                    <td>-355,50€</td>
                </tr>
            </tbody>
        </table>
        <a href="http://127.0.0.1:5000/new">New</a>
    </section>

    <footer>
        &copy; 2022 - Todos los derechos reservados - albertferal@gmail.com
    </footer>


</body>
</html>