{% extends "base.html"%}

{% block pageBase %}
        <h1> Esto sería la lista de ingresos y gastos </h1>
        <p> Un simulacro de contabilidad</p>

        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %} {#Se repetirá toda la estructura dentro del tr #}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}€</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="http://127.0.0.1:5000/new">New</a>
{% endblock %}
